# Safe Future Environment Configuration
GEMINI_API_KEY=

# Midtrans Payment Gateway (Pilar 4: Transaksi Live)
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

# Automated WhatsApp Notification (Fonnte / Waha / Gateway)
WHATSAPP_API_TOKEN=
WHATSAPP_API_URL=https://api.fonnte.com/send
MIDTRANS_CLIENT_KEY=Mid-client-RJ3CTEJmn3xuoIQf
MIDTRANS_SERVER_KEY=Mid-server-Tj2FrWDX0VZ3ZaTz61PpIVmZ
